In [1]:
# 예제 1

a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [5]:
# 예제 2
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

x = Gizmo()
y = Gizmo() * 10

Gizmo id: 138008907277440
Gizmo id: 138008642588736

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [6]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x',
 'y']

In [7]:
# 예제 3
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [8]:
lewis is charles

True

In [9]:
id(charles), id(lewis)

(138008625242176, 138008625242176)

In [10]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [11]:
# 예제 4
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [12]:
alex is charles

False

In [13]:
# 예제 5
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [14]:
id(t1[-1])

138008625275840

In [15]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 138008625275840)

In [16]:
t1 == t2

False

In [18]:
l1 = [3, [55, 44], (7,8,9)]
l2 = list(l1)

In [19]:
l2

[3, [55, 44], (7, 8, 9)]

In [20]:
l2 == l1

True

In [21]:
l2 is l1

False

In [22]:
# 예제 6
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)

In [23]:
l1.append(100)

In [24]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [25]:
l2[1] += [33, 22]
l2[2] += (10, 11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [29]:
# 예제 7
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [31]:
# 예제 8
import copy

bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)

id(bus1), id(bus2), id(bus3)

(138008637251872, 138008637252544, 138008637254128)

In [32]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [33]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(138008626280576, 138008626280576, 138008624260416)

In [36]:
# 예제 9
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [37]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [38]:
# 예제 10
def f(a,b):
  a += b
  return a

In [39]:
x = 1
y = 1
f(x,y), (x,y)

(2, (1, 1))

In [40]:
a = [1, 2]
b = [3, 4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [41]:
t = (10,20)
u = (30, 40)
f(t,u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [42]:
# 예제 11
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self, passengers=[]):
        # [] 가 interpret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게 되어 오류 발생
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [43]:
# 예제 12
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [44]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [45]:
bus2 = HauntedBus()
bus2.pick('Charrie')
bus2.passengers

['Charrie']

In [46]:
bus3 = HauntedBus()
bus3.passengers

['Charrie']

In [47]:
bus3.pick('Dave')
bus2.passengers

['Charrie', 'Dave']

In [48]:
bus2.passengers is bus3.passengers

True

In [49]:
bus1.passengers

['Bill', 'Charlie']

In [50]:
HauntedBus.__init__.__defaults__

(['Charrie', 'Dave'],)

In [51]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [52]:
# 예제 13
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [53]:
# 예제 14
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [54]:
# 예제 15
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [55]:
# 예제 16
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [56]:
# 예제 17
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
  print("Gone with the wind...")

In [57]:
ender = weakref.finalize(s1, bye)

In [58]:
ender.alive

True

In [59]:
del s1

In [60]:
ender.alive

True

In [61]:
s2 = 'spam'

Gone with the wind...

In [62]:
ender.alive

False